/*
Штука со стрелочкой вниз, используется в Welcome и Contact us секциях
*/
.next {
  /*width: 100%;*/

  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  margin: 20px 0;
  margin-bottom: 50px;
}
.next p {
  font-size: 28px;
  margin: 0;
  margin-bottom: 10px;
}

.next img {
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  width: 25%;
  min-width: 30px;
}

.next{
  color: #060137
}

.next::selection{
  color: #060137;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}


@media (max-width: 1400px) {
  .next p {
    font-size: 24px;
  }
}

@media (max-width: 1025px) {
  .next p {
    font-size: 20px;
  
  }
}

@media (max-width: 700px) {
  
}
