.about-us {
  width: 100vw;

  font-size: 2rem;
}

.about-us hr {
  border: none;
  background: black;
  height: 0.1px;
}

.about-us .bg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;

  background-image: url('../assets/hexagon.svg');
  background-repeat: repeat-y;
  background-size: contain;
}

.about-us .bg_mask {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.about-us .structure {
  width: 70%;
}

.about-us .video_holder * {
  width: 100%;
  display: block;
}

.about-us .video_player {
  box-sizing: border-box;

  border-color: #464655;
  border-style: solid;
  border-width: 4vh 4vw;
  border-radius: 4vw 4vw 0px 0px;
}

.about-us .computer_bottom {
  margin-top: -5px;
  width: 100%;
}

.about-us .image img {
  width: 500px;
}

/*________section.info_________*/
.about-us .info .shadow {
  box-shadow: 2px 4px 6px 0px #06013766, -2px -2px 6px 2px #06013766;
}

.about-us .info h3 {
  margin-bottom: 35px;
}

.about-us .info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

/*.how_it_works*/
.about-us .info .how_it_works {
  width: min-content;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 25px;

  margin-right: 20px;
}

.about-us .info .how_it_works .steps {
  position: relative;
  font-size: 28px;
  text-align: center;
}
.about-us .info .how_it_works .step {
  margin-bottom: 80px;
}
.about-us .info .how_it_works .step:last-child {
  margin-bottom: 20px;
}

.about-us .info .how_it_works .background {
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 5px;

  z-index: 1;
}

/*FAQ*/
.about-us .info .FAQ {
  box-sizing: border-box;
  padding: 25px 40px;
  width: 100%;
  height: 600px;

  overflow-y: scroll;
}

.about-us .info .block {
  margin-bottom: 20px;
  font-size: 20px;
}

.about-us .info .line {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}

.about-us .info .question {
  font-weight: 600;
  background-color: #f0f0f0;

  margin-bottom: 20px;
}

.about-us .info .question i::before {
  content: 'Q.';
  font-size: 72px;
  color: #2ba84a;
  margin: 0px 20px 5px 12px;
  display: block;
  font-weight: 500;
}

.about-us .info .question::before {
  content: '';
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  bottom: 0;

  background-color: #2ba84a;
}

.about-us .info .answer i::before {
  content: 'A.';
  font-size: 72px;
  color: #b6b6b7;
  margin: 0px 20px 5px 18px;
  display: block;
  font-weight: 500;
}

.about-us .info .answer::before {
  content: '';
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  bottom: 0;

  background-color: #b6b6b7;
}

.about-us .bg_white {
  background-color: #ffffff;
}
