.contact-section .content {
  font-size: 2.5rem;

  text-align: center;
}

.contact-section .title {
  margin-bottom: 100px;
}

.contact-section .button {
  /*  background-color: #06b7cf;*/
  position: relative;
  z-index: 1;

  width: 50%;
  margin: 0 auto;
  margin-top: 5px;
}
.contact-section .button.tg {
  background-color: #0088cc;
}
.contact-section .button.tg:hover {
  color: #0088cc;
  outline-color: #0088cc;
}

.contact-section .button.vk {
  background-color: #0077ff;
}
.contact-section .button.vk:hover {
  color: #0077ff;
  outline-color: #0077ff;
}

.contact-section .links {
  width: 100%;

  text-align: center;

  margin-bottom: 10rem; /*Поправка по высоте*/
}

.contact-section .link {
  margin-bottom: 50px;
}
.contact-section .link p{
  margin-bottom: 25px;
}
