.footer {
  color: #ffffff;
  
  background-color: #060137;
  background-image: url('../assets/footerbg.svg');
  background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}


.footer .content {
  position: relative;
  z-index: 1;

  margin: 110px auto;
}

.footer .title{
    margin-bottom: 60px;
}

.footer .blocks {
  width: 100%;
  
  font-size: 0px;
  line-height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .blocks .block.eula {
  width: 35%;
}

.footer .blocks .block {
}

.footer .blocks .block .title{
    margin-bottom: 30px;
}
.footer .blocks .block .line{
    margin-bottom: 30px;
}

.footer .blocks .block * {
  font-size: 20px;
}

.footer .blocks .block a {
  color: #ffffff;
  text-decoration: underline;
}

.footer .blocks .eula a {
  color: #2ba84a;
}



@media (max-width: 1400px) {
  .footer .blocks .block * {
    font-size: 20px !important;
  }
}

@media (max-width: 1025px) {
  .footer .content {
    position: relative;
    z-index: 1;
  
    margin: 110px 25px;
  }
}