.header{
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100vw;
    height: 100px;

    box-sizing: border-box;
    padding: 10px;

    background-color: rgba(255,255,255, 0.4);
}


/*
Не знаю, хорошее ли решение?
По идее ничего плохого от этого быть не может
Ведь, все, что будет ниже, если нужно - перезапишет этот параметр.
*/
.header *{
    height: 100%;
}


