.home_wrapper {
  overflow: hidden;
}

.home_background {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.home_background svg.full g.lines path {
  transition: stroke-dashoffset 3s ease-out;
  stroke-dashoffset: 0 !important;
}

.home {
  margin-top: 300px;
  margin-bottom: 300px;
}

.home .button {
  background-color: #2ba84a;
}

.home .title {
  margin-bottom: 30px;
}

.home .text {
  width: 47%;
}

.home .text .description {
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.home .text-background {
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.8);

  box-sizing: border-box;
  border-radius: 1rem;
  margin-bottom: 50px;
}

/*
Картинка с кринжом
Как делать?
*/
.home .image {
  width: 500px;
}

.home .image img {
  width: 100%;
}

/*ADAPTATION*/

@media (max-width: 1600px) {
  .home_background svg {
    height: 100%;
  }

  .home p {
    font-size: 32px;
  }
  .home a {
    font-size: 32px ;
  }
  .home span {
    font-size: 32px;
  }
}

@media (min-width: 1600px) {
  .home_background svg {
    width: 100%;
  }

  
}

@media (max-width: 1400px) {
  .home .image {
    width: 400px;
  }
  .home p {
    font-size: 24px;
  }
  .home a {
    font-size: 24px ;
  }
  .home span {
    font-size: 24px;
  }
}

@media (max-width: 1100px) {
  .home .image {
    width: 350px;
  }
}

@media (max-width: 1025px) {
  .home {
    margin-top: 115px;
    margin-bottom: 150px;
  }
  .home .text {
    display: block;
    margin: 0 auto;

    width: 80%;

    text-align: center;
  }
  .home .text .button {
    margin: 0 auto;
  }

  .home .image {
    display: block;
    float: none;

    width: 50%;

    margin: 0 auto;
    margin-top: 50px;
  }


  .home p {
    font-size: 20px;
  }
  .home a {
    font-size: 20px ;
  }
  .home span {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .home .text {
    width: 90%;
  }
  .home .image{
    width: 60%;
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .home .image{
    width: 70%;
  }
  .home .button{
    padding: 10px 30px;
  }
}
