.home_wrapper {
  overflow: hidden;
}

.home_background {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.home_background svg.full g.lines path {
  transition: stroke-dashoffset 3s ease-out;
  stroke-dashoffset: 0 !important;
}

.home {
  margin-top: 300px;
  margin-bottom: 300px;
}

.home .button {
  background-color: #2ba84a;
}

.home .title {
  margin-bottom: 30px;
}

.home .text {
  width: 47%;
}

.home .text .description {
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.home .text-background {
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.8);

  box-sizing: border-box;
  border-radius: 1rem;
  margin-bottom: 50px;
}

/*
Картинка с кринжом
Как делать?
*/
.home .image {
  width: 500px;

}

.home .image img {
  width: 100%;
}


/*ADAPTATION*/

@media (max-aspect-ratio: 1426/793) {
  .home_background{
    height: 100%;
  }
  .home_background svg{
    height: 100%;
  }
}