.home_wrapper {
  overflow: hidden;
}

.home_background {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.home_background svg.full g.lines path {
  transition: stroke-dashoffset 3s ease-out;
  stroke-dashoffset: 0 !important;
}

.home {
  margin-top: 300px;
  margin-bottom: 300px;
}

.home .button {
  background-color: #2ba84a;
}

.home .title {
  margin-bottom: 1rem;
}

.home .text {
  grid-area: 1 / 1 / 2 / 2;

  width: 47%;


  /*background-color: rgba(120, 0, 0, 0.2);*/
}

.home .text .description {
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.home .text-background {
  background: radial-gradient(
    119.23% 119.23% at 35% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-sizing: border-box;
  
  padding: 1.5rem 1.5rem;
  margin-left: -1.5rem;

  border-radius: 1rem;

  margin-bottom: 50px;
}

/*
Картинка с кринжом
Как делать?
*/
.home .image {
  grid-area: 1 / 2 / 2 / 3;

  width: 47%;

  /*background-color: rgba(0, 120, 0, 0.2);*/

  background-repeat: no-repeat;
  background-size: contain;
}

.home .image img {
  width: 500px;
  float: right;
}
