.lastworks {
  width: 100%;
}

.lastworks .title {
  margin-bottom: 50px;
}

/*Прокручивающийся штук*/
.lastworks .scroll-plate {
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: min-content;
  white-space: nowrap;
  box-shadow: inset 10px 0px 10px 10px #fff, inset -10px 0px 10px 10px #fff;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lastworks .scroll-plate::-webkit-scrollbar {
  display: none;
}

/*Стили блоков*/
.lastworks .block {
  position: relative;
  z-index: -1;

  width: 500px;
  display: inline-block;

  box-sizing: border-box;
  padding: 30px;

  background-color: #ffffff;
  box-shadow: 2px 4px 6px 0px #060137, -2px -2px 6px 2px #060137;

  margin: 15px;
}

.lastworks .block .icon {
  position: absolute;
  right: 20px;
  top: 20%;
  width: 150px;
}

.lastworks .block .title {
  margin-bottom: 20px;
}

.lastworks .block .line {
  font-size: 28px;
  margin-bottom: 10px;
}

/*Стили управления*/
.lastworks .scroll-interface {
  width: fit-content;
  margin: 0 auto;
}
.lastworks .scroll-interface .move {
  width: 40px;
  height: 40px;

  border-radius: 40px;
  border: 0;

  display: inline-block;

  background-color: #b6b6b7;
}
.lastworks .scroll-interface .move.active{
  background-color: #2ba84a;
  width: 80px;
}
.lastworks .scroll-interface .move.active+.move:nth-child(n){
  /*border: 2px solid red; for debbuging*/
  display: none;
}
