.ourskills {
  background-color: #f0f0f0;
  user-select: none;
}

.ourskills .structure {
  margin: 100px auto;
}

.ourskills .title {
  margin-bottom: 100px;
}

.ourskills .skills {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ourskills .skill {
  position: relative;
  display: inline-block;

  height: 120px;
  font-size: 0;

  background-color: #ffffff;
  border-radius: 16px;
}

.ourskills .skill:nth-of-type(2n + 1) {
  margin-top: 140px;
}

.ourskills .skill img {
  position: relative;
  z-index: 1;

  height: 100%;

  box-sizing: border-box;
  padding: 5px;

  background-color: #ffffff;
  border-radius: 16px;
}

.ourskills svg {
  position: absolute;
  left: 0px;
  right: -200px;
  top: -130px;
}

.ourskills .skill:nth-child(2n) svg {
  top: 60px;
  transform: scaleY(-1);
}

.ourskills .skill:last-child svg {
  display: none;
}

/*Pop-out элементы*/
.ourskills .skill .description {
  display: inline-block;
  position: absolute;
  width: 500px; 
  height: 100%;

  box-sizing: border-box;
  padding: 5px 20px;

  transform: translateX(-360px) scaleX(0);

  transition: all 0.3s;
}

.ourskills .skill img:hover + .description {
  display: inline-block;
  position: absolute;
  background-color: #ffffff;

  border-radius: 0px 16px 16px 0px;

  transform: translateX(0) scaleX(1);

  z-index: 2;
}

.ourskills .skill img:hover {
  border-radius: 16px 0px 0px 16px;
  z-index: 3;
  /*   position: absolute;*/
}
