.our_skills {
    background-color: #f0f0f0;
}

.our_skills h1 {
    margin-bottom: 50px;
}

.our_skills .skills {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}



.our_skills .skills .skill_wrapper:nth-of-type(2n - 1) {
    grid-row-start: 2;
    grid-column-end: span 2;
}

.our_skills .skills .skill_wrapper:nth-of-type(2n) {
    grid-row-start: 1;
    grid-column-end: span 2;
}

.our_skills .skills .skill_wrapper:last-of-type {
    grid-column-end: span 1;
    grid-template-columns: 1fr;
}


.our_skills .skills .skill_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    overflow: hidden;
}

.our_skills .skills .skill {
    font-size: 0;
    background-color: #ffffff;
    border-radius: 16px;
    justify-self: center;
    z-index: 1;

    padding: 6px;
    box-sizing: border-box;
    height: 91px;
}

.our_skills .skill img {
    height: 100%;
}

.our_skills .skills .skill_wrapper > .skill_line {
    position: absolute;
    left: 34%;
    right: 23%;
    bottom: 40%;
    z-index: 0;
}

.our_skills .skills .skill_wrapper:nth-of-type(2n) .skill_line {
    transform: scaleY(-1);
    bottom: auto;
    top: 40%;
}

.our_skills .skills .skill_wrapper:last-of-type > .skill_line {
    display: none;
}
