.separator{
    width: 100vw;
    height: 30vh;

    background-image: url(../assets/separator.png);
    background-repeat: no-repeat;
    background-size: cover;

    color: #FFFFFF;
    font-size: 3rem;
}


.separator .content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.separator p{
    margin: 0;
}

.separator .block p{
    text-align: center;
    line-height: 1;
}
