.separator{
    width: 100vw;

    color: #FFFFFF;
    font-size: 2rem;
}


.separator .content{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.separator p{
    margin: 0;
}

.separator .block p{
    text-align: center;
    line-height: 1;
}
