.welcome {
  height: 100vh;

  /*
    Как лучше делать бэк?
    С помощью CSS или как-то в HTML выебнуться?
    */
  background-image: url(../assets/welcome-background.svg);
  color: #060137;
  padding-bottom: 0;
}

.welcome .button {
  background-color: #2ba84a;
}

.welcome .content {
  width: 100%;
  height: 90%;

  box-sizing: border-box;
  padding-top: 7%;
  padding-bottom: 7%;

  font-size: 2.5rem;
}

.welcome .holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.welcome .holder .text {
  grid-area: 1 / 1 / 2 / 2;

  width: 47%;
  height: 100%;

  /*background-color: rgba(120, 0, 0, 0.2);*/
}

.welcome .holder .text .title {
  font-weight: 500;
  /*line-height: 10px;*/
}

.welcome .holder .text .description {
  font-weight: 400;
  line-height: 40px;
  background: radial-gradient(
    119.23% 119.23% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/*
Картинка с кринжом
Как делать?
*/
.welcome .holder .image {
  grid-area: 1 / 2 / 2 / 3;

  width: 47%;
  height: 100%;

  /*background-color: rgba(0, 120, 0, 0.2);*/

  background-image: url(../assets/man-on-chair.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
