.welcome {
  position: relative;
  /*
    Как лучше делать бэк?
    С помощью CSS или как-то в HTML выебнуться?
    */
  background-image: url(../assets/welcome-background.svg);
  color: #060137;
  padding-bottom: 0;

  font-size: 2rem;
  padding-top: 5%;
}

.welcome .button {
  margin: 1rem 0;
  background-color: #2ba84a;
}

.welcome .content {
  width: 100%;

  box-sizing: border-box;

  padding-bottom: 10%;
}

.welcome .title{
  margin-bottom: 0rem;
}

.welcome .text {
  grid-area: 1 / 1 / 2 / 2;

  width: 47%;
  height: 100%;

  /*background-color: rgba(120, 0, 0, 0.2);*/
}

.welcome .text .description {
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.welcome .text-background {
  background: radial-gradient(
    119.23% 119.23% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-sizing: border-box;
  
  padding: 1.5rem 1.5rem;
  padding-left: 0;

  border-radius: 3.5rem;
}

/*
Картинка с кринжом
Как делать?
*/
.welcome .image {
  grid-area: 1 / 2 / 2 / 3;

  width: 47%;
  height: 100%;

  /*background-color: rgba(0, 120, 0, 0.2);*/

  background-repeat: no-repeat;
  background-size: contain;
}

.welcome .image img {
  width: 500px;
}
